<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'myEmployeeList/index.css' %}"
    />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Team member list</title>
  </head>
  <body>
    <div class="list-container">
      <a class="add-member" href="/add">+</a>
      <div>
        <h2 class="title">Team members</h2>
        {% if teamMemberData %}
        <p class="title-desc">
          You have {{teamMemberData | length}} team members.
        </p>
        {% endif %}
      </div>
      {% if teamMemberData %} {% for member in teamMemberData %}
      <div class="member-container">
        <a
          href="edit/{{member.id}}"
          class="member-grid {% if forloop.last %} member-top-bottom-line {% else %} member-top-line {% endif %}"
        >
          <img
            class="member-image"
            src="https://s.instawork.com/static/img/logo-only.31a789713ebe.svg"
          />
          <div class="member-info">
            <div class="member-name">
              <span>{{member.first_name}} {{member.last_name}} </span>
              {% if member.member_type == "admin" %}
              <span>{{member.member_type}}</span>{% endif %}
            </div>
            <div class="member-details">
              <div class="member-email">{{member.email}}</div>
              <div>{{member.phone_number}}</div>
            </div>
          </div>
        </a>
      </div>
      {% endfor %} {% else %}
      <div>No team member is available. Please add new member.</div>
      {% endif %}
    </div>
  </body>
</html>
